
*{
    margin: 0;
    padding: 0;
    position: relative;
    font-family: "Microsoft Yahei";
    background-color: #fff;
}

html{
    height: 100%;
    font-size: 62.5%;
}

#title{
    color: #83878f;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    margin-top: 2%;
    margin-left: 3%;
}

#delt{
    float: right;
    margin-right: 11%;
    color: #fff;
    font-size: 1.6rem;
    background-color: #357eff;
    padding: 0.6% 1%;
    border: 1px #357eff solid;
    border-radius: 0.5rem;
}

#delt:hover{
    color: #357eff;
    background-color: #fff;
}

#job_table{
    width: 80%;
    margin: 3% auto 2% auto;
}

table, tr{
    border: 1px #ddd solid;
    border-collapse: collapse;
    text-align: center;
}

table{
    width: 100%;
}

th{
    color: #222;
    font-size: 1.6rem;
    letter-spacing: 0.4rem;
}

td{
    color: #666;
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    background-color: #f3f8fe;
}

.name, .up_time, .num, .state{
    width: 24%;
    height: 4rem;
}

#page_box{
    position: fixed;
    bottom: 0;
    border: 1px red solid;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 2%;
    font-size: 1.2rem;
    height: 2.5rem;
}

input[type=checkbox]{
    width: 90%;
    height: 2rem;
}

select{
    color: #666;
}